.event {
    &.pages-background::before {
        background-color: $primary;
    }

    &-main {
        //TITLE & SUBTITLE
        .title {
            &-large {
                font-size: 2.6rem;
            }

            &-small {
                margin-bottom: 40px;
            }
        }

        //2 BLOCKS
        &__grid {
            @media screen and (min-width: 600px) {
                display: flex;
                justify-content: space-between;
            }
        }

        //LEFT BLOCK
        &__left {
            width: 35%;

            &>*:not(.title-large, .title-small) {
                margin: 1.225vw;
                display: flex;

                //bubble
                &::before {
                    content: '';
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $primary;
                    border: 1px solid $base-1;
                    flex-shrink: 0;
                    margin: 5px 10px 0 0;
                }
            }

            .card-gmap {
                position: relative;
            }
        }

        //RIGHT BLOCK
        &__right {
            width: 50%;
            background-color: rgba($primary, .7);
            backdrop-filter: blur(5px);
            height: calc(100vh - 240px);
            min-height: 600px;

            //event cover
            img {
                width: 100%;
                height: 280px;
                object-fit: cover;
            }

            //contact icons block
            &--contact {
                &>div {
                    display: flex;
                    align-items: center;
                    margin: 40px;

                    //space between items
                    &>* {
                        margin-right: 20px;
                    }
                }
            }

            //description paragraph
            &--content {
                margin: 0 40px 40px;
                height: calc(100vh - 660px);
                min-height: 240px;
                overflow: auto;
                padding-right: 3px;

                &>*:not(:last-child) {
                    margin-bottom: 20px;
                }

                .component-image {
                    display: none;
                }

                a {
                    border-bottom: 1px solid;
                }
            }
             
        }
    }
}