.pages-background {
    width: 100vw;
    min-height: 100vh;
    background-image: url(../../assets/homepage-paris.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 100px 160px -100px $base-2;
    display: grid;
    grid-template: 1fr / 1fr;

    &::before {
        content: '';
        grid-row: 1;
        grid-column: 1;
        display: block;

        @include media-max($tablet) {
            width: 100vw;
        }

        @include media-min($tablet) {
            width: 40vw;
        }

        min-height: 100vh;
        backdrop-filter: blur(5px);
        background-color: rgba($base-2, .35);
        z-index: 1;
    }
}

.search.pages-background::before,
.favorites.pages-background::before {
    animation: page-search .3s ease forwards;
}

@keyframes page-search {
    from {
        width: 40vw;
        backdrop-filter: blur(5px);
    }

    to {
        width: 100vw;
        backdrop-filter: blur(15px);
    }
}

main {
    grid-row: 1;
    grid-column: 1;
    width: 100vw;
    min-height: 100vh;
    @include media-max($mobile) {
        padding: 60px 7.5vw 100px;
    }

    @include media-min($mobile) {
        padding: 120px 7.5vw 7.5vw;
    }
    z-index: 3;
    overflow: auto;
}

.errors-container {
    font-size: 1.3rem;
}

input {
    color: $base-3;
    width: 230px;
    background-color: $base-1;
}

button {
    color: $base-1;
    font-weight: 600;
}

.smooth-apparition {
    opacity: 0;
    transform: translateY(60px);
    animation: smooth-apparition 2s forwards;
}

@keyframes smooth-apparition {
    0% {
      opacity: 0;
      transform: translateY(60px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }