body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: $base-1;
}

.home {
    &-main {
        display: grid;
    }

    .title-logo {
        margin-left: -12px;
    }

    h2 {
        max-width: 30vw;
    }

    & > .flex {
        align-self: end;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card {
        display: grid;
        align-items: center;
        width: 500px;
        margin-left: auto;

        &>* {
            grid-row: 1;
            grid-column: 1;
        }

        figcaption,
        img {
            width: 500px;
            height: 280px;
            overflow: hidden;
        }

        img {
            box-shadow: 0 0 20px rgba($base-3, .5);
        }

        figcaption {
            display: grid;
            align-items: center;
            z-index: 1;
            text-align: right;
            background-color: rgba($primary, .7);
            backdrop-filter: blur(5px);
            padding: 10px;
            transition: all .3s;

            &:hover {
                backdrop-filter: blur(1px);
            }

            .flex {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .card__like-button {
                    margin-bottom: 10px;
                }
            }

            .card-description {
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}