.card {

  //\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ EVENT CARD
  //CONTAINER
  &-container {
    max-width: 80%;
    column-width: 280px;
    column-gap: 80px;
    margin: 60px auto 0;
    opacity: 0;
    transform: translateY(50px);
    animation: card-apparition 2s 2s forwards;
  }

  @keyframes card-apparition {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }

    100% {
      opacity: 1;
      transform: translateY(-10px);
    }
  }

  //CARD
  height: auto;
  break-inside: avoid-column;

  &:not(.home .card) {
    max-width: 300px;
    margin-bottom: 80px;
  }

  //description text
  &-description {
    font-size: .75rem;
  }

  //image
  img {
    width: 100%;
    object-fit: cover;

    &:not(.home .card img) {
      margin-top: 20px;
    }
  }

  // like, date & hour
  .flex {
    display: flex;

    &:not(.home .card .flex) {
      margin: 0 10px 20px 0;
      align-items: center;
    }
  }

  //event card : like button
  &__like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    background-color: $base-1;
    color: $primary;
    font-size: .8rem;

    svg {
      flex-shrink: 0;
    }

    &:not(.home .card__like-button, .event .card__like-button) {
      margin-right: 10px;
    }
  }
}