.card {
  &-container {
    max-width: 80%;
    column-width: 280px;
    column-gap: 80px;
    margin: 80px auto 0;
  }

  //card
  height: auto;
  margin-bottom: 80px;
  break-inside: avoid-column;

  &-description {
    font-size: .75rem;
  }

  img {
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
  }
}