@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;600&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  margin-top: 5px;
  border: none;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

input,
button {
  background-color: inherit;
  border: inherit;
  color: inherit;
  font-family: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

.title-large {
  font-weight: 100;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.title-large .title-logo {
  display: block;
  font-weight: 200;
  font-size: 8rem;
  line-height: 8rem;
  margin-bottom: 10px;
}
.title-medium {
  align-items: center;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 20px 0 20px -1px;
}
.title-medium::after {
  content: "";
  display: block;
  width: calc(80px + 7.5vw);
  transform: translate(-7.5vw, 5px);
  height: 2px;
  background-color: #9186AF;
}
.title-small {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 20px;
}
.title-small:not(.home .title-small) {
  color: #dcb75b;
}
.title-xs {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.card {
  height: auto;
  -moz-column-break-inside: avoid;
       break-inside: avoid-column;
}
.card-container {
  max-width: 80%;
  -moz-column-width: 280px;
       column-width: 280px;
  -moz-column-gap: 80px;
       column-gap: 80px;
  margin: 60px auto 0;
  opacity: 0;
  transform: translateY(50px);
  -webkit-animation: card-apparition 2s 2s forwards;
          animation: card-apparition 2s 2s forwards;
}
@-webkit-keyframes card-apparition {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}
@keyframes card-apparition {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}
.card:not(.home .card) {
  max-width: 300px;
  margin-bottom: 80px;
}
.card-description {
  font-size: 0.75rem;
}
.card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card img:not(.home .card img) {
  margin-top: 20px;
}
.card .flex {
  display: flex;
}
.card .flex:not(.home .card .flex) {
  margin: 0 10px 20px 0;
  align-items: center;
}
.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  background-color: #FEFFFF;
  color: #9186AF;
  font-size: 0.8rem;
}
.card__like-button svg {
  flex-shrink: 0;
}
.card__like-button:not(.home .card__like-button, .event .card__like-button) {
  margin-right: 10px;
}

.nav {
  position: fixed;
  z-index: 4;
  height: 80px;
  width: 100%;
  transition: all 0.3s;
}
.nav-apparate {
  background-color: #3b3656;
}
.nav-bar {
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
  gap: 30px;
  align-items: center;
  height: 100%;
  padding: 0 7.5vw;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.nav-bar__active::after {
  -webkit-animation: activelink 0.3s forwards;
          animation: activelink 0.3s forwards;
}
@-webkit-keyframes activelink {
  from {
    width: 0;
  }
  to {
    width: 30px;
    background-color: #FEFFFF;
  }
}
@keyframes activelink {
  from {
    width: 0;
  }
  to {
    width: 30px;
    background-color: #FEFFFF;
  }
}
.nav-bar__home {
  font-weight: 600;
}
.nav-bar li a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  transition: all 0.3s;
}
.nav-bar li a::after {
  content: "";
  display: block;
  margin-top: 3px;
  height: 1px;
}
.nav-bar li::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  transform: translateX(-8px);
  transition: background-color 0.1s;
}
.nav-bar li:hover::before {
  background-color: #dcb75b;
}
.nav-bar li:first-child {
  color: #dcb75b;
}
.nav-bar li:not(:first-child) {
  font-weight: 300;
  letter-spacing: 2px;
  text-align: right;
}

.border {
  position: fixed;
  display: grid;
  z-index: 2;
}
.border > div {
  grid-row: 1;
  grid-column: 1;
}
.border-right, .border-bottom, .border-left {
  background-color: rgba(254, 255, 255, 0.2);
}
.border-right, .border-left {
  width: 1px;
  height: 100vh;
  margin: 0 9vw;
}
.border-right {
  justify-self: end;
}
.border-bottom {
  align-self: end;
  margin-bottom: 9vw;
  width: 100vw;
  height: 1px;
}

.pages-background {
  width: 100vw;
  min-height: 100vh;
  background-image: url(../../assets/homepage-paris.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: inset 0 100px 160px -100px #3b3656;
  display: grid;
  grid-template: 1fr/1fr;
}
.pages-background::before {
  content: "";
  grid-row: 1;
  grid-column: 1;
  display: block;
  width: 40vw;
  min-height: 100vh;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(59, 54, 86, 0.35);
  z-index: 1;
}

main {
  grid-row: 1;
  grid-column: 1;
  width: 100vw;
  min-height: 100vh;
  padding: 120px 7.5vw 7.5vw;
  z-index: 3;
  overflow: auto;
}

input {
  color: #111111;
  width: 230px;
  background-color: #FEFFFF;
}

button {
  color: #FEFFFF;
  background-color: #dcb75b;
  font-weight: 600;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #FEFFFF;
}

.home-main {
  display: grid;
}
.home .title-logo {
  margin-left: -12px;
}
.home h2 {
  max-width: 30vw;
}
.home > .flex {
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .card {
  display: grid;
  align-items: center;
  width: 500px;
  margin-left: auto;
}
.home .card > * {
  grid-row: 1;
  grid-column: 1;
}
.home .card figcaption,
.home .card img {
  width: 500px;
  height: 280px;
  overflow: hidden;
}
.home .card img {
  box-shadow: 0 0 20px rgba(17, 17, 17, 0.5);
}
.home .card figcaption {
  display: grid;
  align-items: center;
  z-index: 1;
  text-align: right;
  background-color: rgba(145, 134, 175, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 40px;
  transition: all 0.3s;
}
.home .card figcaption:hover {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.home .card figcaption .flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.home .card figcaption .flex .card__like-button {
  margin-bottom: 10px;
}
.home .card figcaption .card-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.search.pages-background::before {
  -webkit-animation: page-search 0.3s ease forwards;
          animation: page-search 0.3s ease forwards;
}
.search-bar__container input,
.search-bar__container button {
  height: 56px;
  margin: 10px 0 40px;
  padding: 0 20px;
}

@-webkit-keyframes page-search {
  from {
    width: 40vw;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  to {
    width: 100vw;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }
}

@keyframes page-search {
  from {
    width: 40vw;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  to {
    width: 100vw;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }
}
.event.pages-background::before {
  background-color: #9186AF;
}
.event-main .title-large {
  font-size: 2.6rem;
}
.event-main .title-small {
  margin-bottom: 40px;
}
@media screen and (min-width: 600px) {
  .event-main__grid {
    display: flex;
    justify-content: space-between;
  }
}
.event-main__left {
  width: 35%;
}
.event-main__left > *:not(.title-large, .title-small) {
  margin: 1.225vw;
  display: flex;
}
.event-main__left > *:not(.title-large, .title-small)::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9186AF;
  border: 1px solid #FEFFFF;
  flex-shrink: 0;
  margin: 5px 10px 0 0;
}
.event-main__left .card-gmap {
  position: relative;
}
.event-main__right {
  width: 50%;
  background-color: rgba(145, 134, 175, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: calc(100vh - 240px);
  min-height: 600px;
}
.event-main__right > img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.event-main__right--contact > div {
  display: flex;
  align-items: center;
  margin: 40px;
}
.event-main__right--contact > div > * {
  margin-right: 20px;
}
.event-main__right--content {
  margin: 0 40px 40px;
  height: calc(100vh - 660px);
  min-height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 3px;
}
.event-main__right--content > *:not(:last-child) {
  margin-bottom: 20px;
}
.event-main__right--content .component-image img {
  -o-object-fit: contain;
     object-fit: contain;
  float: left;
  width: 40%;
  margin: 0 30px 30px 0;
}
.event-main__right--content a {
  border-bottom: 1px solid;
}