@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;600&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  margin-top: 5px;
  border: none;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

input,
button {
  background-color: inherit;
  border: inherit;
  color: inherit;
  font-family: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

.title-large {
  font-weight: 100;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.title-large .title-logo {
  display: block;
  font-weight: 200;
  font-size: 8rem;
  line-height: 8rem;
  margin-bottom: 20px;
}
.title-medium {
  align-items: center;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 80px 0 40px -1px;
}
.title-medium::after {
  content: "";
  display: block;
  width: calc(80px + 7.5vw);
  transform: translate(-7.5vw, 5px);
  height: 2px;
  background-color: #9186AF;
}
.title-small {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 20px;
  color: #dcb75b;
}

.card {
  height: auto;
  margin-bottom: 80px;
  -moz-column-break-inside: avoid;
       break-inside: avoid-column;
}
.card-container {
  max-width: 80%;
  -moz-column-width: 280px;
       column-width: 280px;
  -moz-column-gap: 80px;
       column-gap: 80px;
  margin: 80px auto 0;
}
.card-description {
  font-size: 0.75rem;
}
.card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 20px;
}

.nav {
  grid-row: 1;
  grid-column: 1;
  z-index: 4;
  height: 80px;
}
.nav-bar {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 7.5vw;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.nav-bar__home {
  display: flex;
  width: 60%;
  font-weight: 600;
  margin-right: auto;
}
.nav-bar li:first-child {
  color: #dcb75b;
}
.nav-bar li:not(:first-child) {
  margin-left: 30px;
  letter-spacing: 2px;
  text-align: right;
}

.border {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  z-index: 2;
}
.border > div {
  grid-row: 1;
  grid-column: 1;
}
.border-right, .border-bottom, .border-left {
  background-color: rgba(254, 255, 255, 0.2);
}
.border-right, .border-left {
  width: 1px;
  height: 100vh;
  margin: 0 9vw;
}
.border-right {
  justify-self: end;
}
.border-bottom {
  align-self: end;
  margin-bottom: 9vw;
  width: 100vw;
  height: 1px;
}

.pages-background {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/homepage-paris.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: inset 0 100px 160px -100px #3b3656;
  display: grid;
  grid-template: 1fr/1fr;
}
.pages-background::before {
  content: "";
  grid-row: 1;
  grid-column: 1;
  display: block;
  height: 100vh;
  background-color: rgba(59, 54, 86, 0.35);
  z-index: 1;
}

main {
  grid-row: 1;
  grid-column: 1;
  width: 100vw;
  height: 100vh;
  padding: 120px 7.5vw 7.5vw;
  z-index: 3;
  overflow: auto;
}

input,
button {
  height: 56px;
  padding: 0 20px;
}

input {
  color: #111111;
  width: 230px;
  background-color: #FEFFFF;
}

button {
  color: #FEFFFF;
  background-color: #dcb75b;
  font-weight: 600;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #FEFFFF;
}

.home::before {
  width: 40vw;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.home .title-logo {
  margin-left: -12px;
}
.home h2 {
  max-width: 30vw;
}

.search::before {
  width: 100vw;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}